{{ partial "header.html" . }}

<main class="content" role="main">
  
  <h1>About Me</h1>
  
  <p style="text-align:justify; font-size:16px">My name is E-Zhen Tan, a Year 2 undergraduate at the Singapore University of Social Sciences. As an aspiring data scientist, I am currently pursuing a Bachelor of Science in Business Analytics. I love discovering the versatility of code, from using Python to create dictionaries (actual ones, not the data type '{}') to creating websites with R.</p>
  
  <p style="text-align:justify; font-size:16px">From the past semesters of university, I have learnt how to read and analyse data using Python and IBM SPSS Modeler. In the Python Programming module, I learnt how to import data from text, <i>json</i> and <i>csv</i> files and use the <i>pandas</i> and <i>matplotlib</i> libraries to create dataframes and plot graphs for data visualization. My most recent internship as a Data Science Intern has deepened my knowledge and given me real-world experience in using Python for machine learning.</p>
  
  <p style="text-align:justify; font-size:16px">In addition to Python, I am able to create visuals and graphs of present and historical data using Tableau. Equipped with these skills, I am able to manage data and assist in giving meaning to the vast sea of data available. My portfolio of prior school projects are linked <a href="https://github.com/ezhentan/schoolprojects">here</a> and in the tab, <strong>GitHub-Portfolio</strong>, above.</p>
  
  <p style="text-align:justify; font-size:16px">A self-directed learner at heart, I have pushed myself to learn other codes beyond what is taught in the school curriculum. In building this website using R, I have also used the HTML language to format the text.</p>
  
  <p style="text-align:justify; font-size:16px">Apart from these technical skills, my part-time job as a tutor at Writers@Work Enrichment, a local tuition centre that specialises in teaching English Language for Primary and Secondary levels, has also helped me to hone my communication skills. Be it in writing when I am marking scripts or speaking when teaching a class, it is important that my language is sufficiently clear to ensure that the students will be able to understand the lesson and their mistakes.</p><br>
  
  <hr>
  
  <br>
  
  <h1 class="article-title">Posts</h1>

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="archive">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ range (where $pages "Section" "!=" "").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}